.dockerignore
postgres-data
redis-data
npm-debug.log
Dockerfile
Dockerfile.dev.postgres
.git
.gitignore
.github
.lsp
.vscode

# Eurocamp's DB volume.
eurocamp-data

# Build/install artifacts.
node_modules
**/node_modules
dist
coverage
.nx
**/.next
tmp
